.Console
{
    line-height: 1.2em;
    border: 1px solid #009900;
    height: 30em;
    padding: 5px;
    user-select: none;
}

.Console .History{
    font-family: monospace;
    white-space: pre;
    text-align: left;
    overflow: hidden;
    padding: 0px auto;
}

.Console .Prompt .Cursor
{
    padding: 0px;
    margin: 0px;
    border: none;
}
.Console .Prompt .Cursor{
    background: transparent;
}

.Console .Prompt .Cursor:focus{
    width: 10px;
    background: white;
    outline: none;
}

.Console .Prompt .Cursor::placeholder{
    font-style: italic;
    font-weight: bold;
    padding-left: 10px;
    color: white;
}
